<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eticket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".favorites.AddFavoritesActivity"></activity>
        <activity android:name=".account.ShareCreditActivity" />
        <activity android:name=".account.BalanceActivity" />
        <activity android:name=".history.RecentTravelActivity" />
        <activity android:name=".favorites.FavoriteRoutesActivity" />
        <activity android:name=".history.LastTicketActivity" />
        <activity android:name=".ticket.ticket_sucess" />
        <activity android:name=".account_edit" />
        <activity android:name=".ticket.ticket_display" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".profile.ChangePasswordActivity" />
        <activity
            android:name=".saveuser"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".ticket.ticket_gen" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>